:root {
    --DarkBlue: hsl(209, 23%, 22%);
    --VeryDarkBlue: hsl(207, 26%, 17%);
    
    --DarkGray: hsl(0, 0%, 52%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

.dark {
    background-color: var(--VeryDarkBlue);
    transition: 320ms;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Nunito Sans', sans-serif;
        background: var(--VeryLightGray);

    }
}

.wrapper {
    max-width: 1330px;
    margin: 0 auto;
    display: flex;
}

input[type]:focus {
    outline: none;
}


@media (max-width:500px) {
    .custom {
        width: 320px;
    }

    /*  .customCard {
        width: 100%;
    } */
}